<div class="container">
  <div>
    <img src="../../../assets/images/logo.png" alt="Logo de ValorPath" />
  </div>
  <h2>Inicie sesión</h2>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Username" [(ngModel)]="username" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      placeholder="Password"
      [(ngModel)]="password"
    />
  </mat-form-field>
  <button mat-raised-button (click)="login()">Ingresar</button>
</div>
